@import '/src/styles/variables';
@import '/src/styles/mixins';

.cart-preview {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 768px;
  width: calc(100% - 30px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: all .2s ease-in-out;

  &.active {
    bottom: 30px;
  }
}