<div class="cart-preview shadow"
  [class.active]="cartItems.length">
  <div class="cart-preview__orders fw-500">
    <button class="btn btn__action me-2" (click)="toggleCart()">
      <ion-icon name="caret-up" 
        class="ion-sm" 
        [class.rotate]="isCartExpanded">
      </ion-icon>
    </button>
    Your Order ({{ cart?.totalOrders }})
  </div>
  <div class="cart-preview__subtotal fw-500">
    Subtotal: {{ subtotal | currency:'INR'}}
  </div>
  
  <div class="cart-preview-products" 
    [class.active]="isCartExpanded" 
    *ngIf="cartItems.length">
    <div class="cart-preview-products__head">
      <h4 class="heading heading__tertiary">Your Order</h4>
      <button class="btn close" (click)="collapseCart()">
        <!-- <i class="bi bi-x-lg"></i> -->
        <ion-icon name="close-outline" class="ion-2x"></ion-icon>
      </button>
    </div>
    <div class="cart-preview-products__body">
      <ul class="list-unstyled cart-preview-products__list m-0">
        <li class="cart-preview-products__item" *ngFor="let item of cartItems">
          <div class="cart-preview-products__productDetails">
            {{ item.name }}
          </div>
          <div class="cart-preview-products__productPriceDetails">
            <app-qty-selector [pizza]="item"></app-qty-selector>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
