$dark: #0C0C0C;
$crimson: #E42434;

// Color Map
$colors: (
  'crimson': $crimson, 
  'dark': $dark,
);
// END

// Icon Map
$icons: (
  'lg': 20px,
  '2x': 25px,
  '3x': 30px,
  '4x': 35px,
  '5x': 40px,
);