@import '/src/styles/variables';
@import '/src/styles/mixins';

.checkout-main {
  min-height: 100vh;

  &__miniHeader {
    background-color: #fff;
  }

  &__listContainer {
    max-width: 960px;
    width: calc(100% - 30px);
    margin: 0 auto;
  }

  &__list {
    padding: 20px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 15px;
  }

  &__payment-method-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__payment-method {
    @include flexAlign(center, null);
    border: 1px solid $gray-l;
    padding: 10px;
    cursor: pointer;
  }

  &__radio-mark {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid $gray;
    position: relative;

    &::after {
      display: none;
      content: '';
      position: absolute;
      inset: 50% auto auto 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50px;
      z-index: 2;
    }
  }

  &__radio {
    display: none;

    &:checked ~ .checkout-main__radio-mark {
      background-color: $dark;

      &::after {
        display: block;
      }
    }
  }
}